body {
  font-family: 'Inter';
  font-size: 1rem;
}

audio {
  display: block;
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: #4287f5;
}

a:hover {
    color: #1569ed;
}

hr {
    background-color: #adadad;
    height: 1px;
    border: none;
}

img {
    width: 100%;
    height: auto;
}

code {
    width: auto;
    font-size: 0.8rem;
    display: block;
}

p code { display: inline-block; }

/* Desktop view */
@media only screen and (min-width: 900px) {
    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
    }

    .content {
        width: 45%;
        margin-top: auto;
        margin-bottom: auto;
        margin: 0 auto;
    }
}
