body {
    font-family: Georgia, Times, Times New Roman, serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #4287f5;
}

a:hover {
    color: #1569ed;
}

hr {
    background-color: #adadad;
    height: 1px;
    border: none;
}

img {
    width: 100%;
    height: auto;
}

code {
    width: auto;
    display: block;
}

p code { display: inline-block; }

.back-btn { font-size: 19px; padding-top: 100px; }

/* Desktop view */
@media only screen and (min-width: 850px) {
    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
    }

    .content {
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        margin: 0 auto;
    }
}
