<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="highlightjs/monokai.css">
        <script src="highlightjs/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>

    <body>
        <div class="top">
            <a href="index.html"> ← Home </a>
            <p class="dim">| {{ publish_date }} |</p>
            <p class="dim">{{ read_time }} read time</p>
        </div>
        <hr>
        <div class="content">{{ html }}</div>
    </body>
</html>
