<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/styles.css">
    </head>

    <body>
        <div class="center"">
            <h1> Abigail Adegbiji </h1>
            <a href="https://github.com/aabiji"> Github </a>
            <a> RSS </a>
            <p>
                👋 Hi! <br>
                I'm 15 and I go by @aabiji online.
                I love programming.
                When I'm not programming I'm reading, listening to music
                or just relaxing. Here's the articles I've writen:
            </p>

            {% for title, post in posts %}
            <div>
                <p>
                    <p class="dim"> {{ post.publish_date }} </p>
                    <a href="{{ post.path }}"> {{ title }} </a>
                </p>
            </div>
            {% endfor %}

        </div>
    </body>
</html>
