:root {
    --heading-color: #a9dc76;
    --link-color: #f24973;
    --link-active-color: #d94167;
    --dimmed: #aaa;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-active-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

h1, h2, h3, h4, h5, h6, ul, ol {
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul, ol {
    padding-left: 20px;
}

img {
    margin-top: 25px;
    margin-bottom: 25px;
}

p, li {
    line-height: 2;
}

li::marker, ul::marker {
    color: var(--dimmed);
}

@media (max-width: 1000px) {
    .content { width: 80%; }
}

.content {
    margin: 0 auto;
    width: 45%;
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.pathbar {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 3px;

    a {
        font-size: 1.08rem;
        margin-right: 10px;
        font-weight: bold;
    }

    .lhs a {
        float: left;
        color: var(--link-color);
    }

    .rhs {
        float: right;
        a { color: var(--dimmed); }
        a:hover { color: var(--link-active-color); }
    }
}